In [15]:
# set-up the correct imports
import pandas as pd
from pathlib import Path

In [31]:
# name the file to load to the reader
main_school_csv = Path("C:\\Homework\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv")
main_students_csv = Path("C:\\Homework\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv")

#read the files and store into dataframes
school_file = pd.read_csv(main_school_csv)
student_file = pd.read_csv(main_students_csv)

# combine this data into one dataframe
original_school_data = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])
orignal_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [32]:
#find the total number of unique schools
school_count = len(orignal_school_data["school_name"].unique())
school_count

15

In [33]:
# find the total number of students
student_count = len(original_school_data["student_name"])
student_count

39170

In [34]:
# calculate the total budget 
total_budget = sum(original_school_data["budget"].unique())
total_budget

24649428

In [35]:
# calculate the average math score
math_average = (sum(original_school_data["math_score"])) / (len(original_school_data["student_name"]))
math_average

78.98537145774827

In [37]:
# calculate the average reading score
reading_average = (sum(original_school_data["reading_score"])) / (len(original_school_data["student_name"]))
reading_average

81.87784018381414

In [39]:
# calculate the percentage of students who passed math (> or = 70)
students_passing_math = original_school_data[(original_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = students_passing_math / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [40]:
# calculate the percentage of students who passed reading (> or = 70)
students_passing_reading = original_school_data[(original_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = students_passing_reading / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [41]:
# calculate the percentage of students who passed math and reading (> or = 70)
passing_math_reading_count = original_school_data[(original_school_data["math_score"] >= 70) & (original_school_data["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [42]:
# create a dataframe from the results collected above called district_summary (District Summary DataFrame)
data = {'Total Schools':[school_count],
        'Total Students':[student_count],
        'Total Budget':[total_budget],
        'Average Math Score':[math_average],
        'Average Reading Score':[reading_average],
        '% Passing Math':[passing_math_percentage],
        '% Passing Reading':[passing_reading_percentage],
        '% Overall Passing':[overall_passing_rate]}

district_summary = pd.DataFrame(data)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [50]:
#code to collect all of the school types
school_type = original_school_data["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [51]:
# code to pull the number of students per each school
per_school_counts = original_school_data.school_name.value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [60]:
# Calculate the total school budget and per student spending per school
per_school_budget = school_file.groupby("school_name").max()["budget"]
per_school_capita = (per_school_budget / per_school_counts)
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [63]:
#Calculate the average test scores per school in math and reading
per_school_math = original_school_data.groupby("school_name").mean()["math_score"]
per_school_math

per_school_reading = original_school_data.groupby("school_name").mean()["reading_score"]
per_school_reading

C:\Users\evapa\AppData\Local\Temp\ipykernel_17680\3236387454.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_math = original_school_data.groupby("school_name").mean()["math_score"]
C:\Users\evapa\AppData\Local\Temp\ipykernel_17680\3236387454.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_reading = original_school_data.groupby("school_name").mean()["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64