In [15]:
# set-up the correct imports
import pandas as pd
from pathlib import Path

In [31]:
# name the file to load to the reader
main_school_csv = Path("C:\\Homework\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv")
main_students_csv = Path("C:\\Homework\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv")

#read the files and store into dataframes
school_file = pd.read_csv(main_school_csv)
student_file = pd.read_csv(main_students_csv)

# combine this data into one dataframe
original_school_data = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])
orignal_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
#find the total number of unique schools
school_count = len(orignal_school_data["school_name"].unique())
school_count

15

In [33]:
# find the total number of students
student_count = len(original_school_data["student_name"])
student_count

39170

In [34]:
# calculate the total budget 
total_budget = sum(original_school_data["budget"].unique())
total_budget

24649428

In [35]:
# calculate the average math score
math_average = (sum(original_school_data["math_score"])) / (len(original_school_data["student_name"]))
math_average

78.98537145774827

In [37]:
# calculate the average reading score
reading_average = (sum(original_school_data["reading_score"])) / (len(original_school_data["student_name"]))
reading_average

81.87784018381414

In [39]:
# calculate the percentage of students who passed math (> or = 70)
students_passing_math = original_school_data[(original_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = students_passing_math / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [40]:
# calculate the percentage of students who passed reading (> or = 70)
students_passing_reading = original_school_data[(original_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = students_passing_reading / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [41]:
# calculate the percentage of students who passed math and reading (> or = 70)
passing_math_reading_count = original_school_data[(original_school_data["math_score"] >= 70) & (original_school_data["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [42]:
# create a dataframe from the results collected above called district_summary
data = {'Total Schools':[school_count],
        'Total Students':[student_count],
        'Total Budget':[total_budget],
        'Average Math Score':[math_average],
        'Average Reading Score':[reading_average],
        '% Passing Math':[passing_math_percentage],
        '% Passing Reading':[passing_reading_percentage],
        '% Overall Passing':[overall_passing_rate]}

district_summary = pd.DataFrame(data)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [45]:
#Use the code provided to select all of the school types
#data = pd.read_csv(schools_complete.csv", index_col ="type")
                   
# creating a mini dataframe or a series by reading the csv and thenmaking rows and columns?
# new_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3,
#                         'Position':'PG', 'Age':33, 'Height':'6-2',
#                         'Weight':189, 'College':'MIT', 'Salary':99999},
#                                                             index =[0])
# data

# writing a simple code to produce a string of the variables?
school_type = original_school_data["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [44]:
per_school_counts = groupby.original_school_data

NameError: name 'groupby' is not defined